QWidget {
	font-size: 26px;
}
QLineEdit {
	min-height: 26px;
}
QPushButton {
	min-height: 52px;
	/*SizePolicy: QSizePolicy(QtGui.QSizePolicy.Expanding, QtGui.QSizePolicy.Expanding);*/
}
QSpinBox {
	min-height: 26px;
}
